@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Inter";

  color: #404052;

  background: rgb(94, 23, 235);
  background: linear-gradient(
    100deg,
    rgba(94, 23, 235, 1) 0%,
    rgba(56, 182, 255, 1) 100%
  );
}

header.flex-header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {

  display: flex;

  flex-direction: column;
  align-items: center;

  height: 100vh;
}
/* First Section --Start */
section.first-container h2 {
  font-weight: 400;
}
section.first-container  {
  display: flex;
  flex-direction: row;

  justify-content: center;

  flex-wrap: wrap;
  width: 100%;
}
section.first-container div.block-content {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  width: 200px;
  height: 100px;
  border-radius: 0.4rem;
  margin: 1rem;
  background-color: #f5f5f5;
  padding: 0.5rem;

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
section.first-container div.block-content:hover {
  background-color: #f5f5f5;
  transform: scale(1.2);
  border-radius: 0.4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

section.first-container div.block-content div:first-child {
  display: flex;
  justify-content: space-between;

}
section.first-container div.block-content div:first-child {
  display: flex;
  justify-content: space-between;

}


.up-green{
  color: rgb(85, 191, 14);
  font-size: 2rem;
}
.up-green:hover{
  color: rgb(110, 236, 26);
  cursor: pointer;
}
.down-red {
  color: rgb(191, 14, 14);
  font-size: 2rem;
}
.down-red:hover {
  color:  rgb(238, 29, 29);
  cursor: pointer;
}

.total-gold {
  color: #7e7b92;
  font-size: 2rem;
}
.total-gold:hover {
  color: #44424f;
  cursor: pointer;
}



/* First Section --End */
/* Second Section --Start */
section.second-container {
  width:95%;

  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
  justify-content: center;

  padding: 1rem 0rem;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

/* Table --Start */
section.second-container div.table-wrapper {
  width: 75%;
  display: flex;
  justify-content: center;

  /* background-color: yellow; */
}

section.second-container div.table-wrapper table {
  width: 100%;
  height: 10%;
  margin: 0.5rem;
  text-align: justify;
  border-spacing: 0rem 0.3rem;
  overflow: hidden;
}

section.second-container th {
  padding-left: 0.5rem;
  padding: 0.5rem;
}

section.second-container td {
  padding-left: 0.5rem;
}

tr {
  background-color: #f5f5f5;
}

tr td:first-child {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
tr td:last-child {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

tr th:first-child {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}
tr th:last-child {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
tr {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}

/* Table --End */

/* Form operator --Start */
div.operator-form {
  display: flex;
  width: 100%;

  align-items: center;
  flex-direction: column;

  background-color: #f5f5f5;

  padding: 1rem;
  margin: 0.5rem 1rem;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}
div.operator-form h2 {
  margin-bottom: 1.2rem;
}
div.operator-form form {
  display: flex;
  flex-direction: column;
}

div.operator-form form input {
  background-color: #fff;

  border: 2px solid #2a2a2a;
  border-radius: 0.3rem;

  padding: 0.2rem;
  margin: 0.5rem;
}
div.operator-form button {
  background: rgb(94, 23, 235);
  background: linear-gradient(
    100deg,
    rgba(94, 23, 235, 1) 0%,
    rgba(56, 182, 255, 1) 100%
  );

  color: #fff;

  border: 1px;
  border-radius: 0.3rem;

  padding: 0.5rem 2rem;
  margin: 0.5rem;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);

  transition: 0.5s;
}

div.operator-form button:hover {
  background: rgb(94, 23, 235);
  cursor: pointer;
  border-radius: 0.3rem;
}
/* Form operator --End */

/* Second Section --End */

.primary-color {
  color: #5e17eb;
}
.secondary-color {
  color: #38b6ff;
}
/* td {
  background-color: #e4e4e4;
  padding-left: 1.4rem;
  padding-top: 0.2rem;
}
th {
  padding-left: 1.4rem;
}

tr {
  padding-left: 1.4rem;
  background-color: #f5f5f5;
  border: solid red 0.2rem;
  border-radius: 25px;
} */

.delete-btn {
  color: rgb(191, 14, 14);
  border: none;
}
.delete-btn:hover {
  color: rgb(238, 29, 29);
  border: none;
  cursor: pointer;
}
